.itemMenu {  
    margin-left: 40px;
    margin-bottom: 20px;
    width: 100px;
    height: 70px;
    border: 1px solid #F2F2F2;
}

.titles {
    margin-top: 15px;
    margin-left: 10px;
    font-weight: bold;
    color: black;
    font-size: 10px;
}
.item {
    font-size: 10px;
    margin-left: 10px;
}