.menu-list {  
    margin-left: 40px;
    width: 95px;
    /* margin-bottom: 10px; */
    text-align: center;
    height: 55px;
    border: 1px solid #F2F2F2;
    border-right: 1px solid #4E0E13;
}

.name {
    font-weight: bold;
    margin-top: 9px;
}
.value {
    font-size: 10px;
}