.refill {
    display: flex;
}

.menu {
    display: flex;
}

/* .classes {
    margin-top: 30px;
    margin-right: 50px;
} */

.lines {
    border-right: 3px solid #F2F2F2;
    height: 80vh;
    margin-left: 20px;
}

.associate {
    display: flex;
}

.divide {
    display: flex;
}