
.bars {
    display: flex;
    background-color: #FFFFFF;
    cursor: pointer;
    height: 35px;
    width: 120%;
    border: 2px solid #E7E8EB;

}

button {
    border-style: none;
    background-color: none;
}

.navbar {
    margin-top: 6px;
    margin-left: 10px;
}

.bars:hover {
    border-style: solid;
    border-color: 1px solid #4E0E13;

}

.side-image {
    display: flex;
    height: 33px;
    margin-left: 900px;
}

