.list {
    display: flex;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 13px;
    cursor: pointer;

}

.title {
    font-size: 10px;
    color: white;
}

.svg {
padding-right: 10px;
}